* {
	font-family: Times New Roman;
	color: #000000;
	text-align: center;
}
body {
	background-color: #9B996E;
	width: 1170px;
	margin: 0 auto;
}
h1 {
	color: #16308E;
}
h2 {
	text-decoration: underline;
}
nav {
	font-size: 25px;
	background-color: #CCBFAA;
	padding: 15px;
	margin: 15px;
}
li {
	display: inline;
	padding: 35px;

}
section {
	overflow: auto;
	height: 100%;
}
main {
	background-color: #CCBFAA;
	padding: 15px;
	margin: 15px;
}
article {
	background-color: #CCBFAA;
	padding: 15px;
	margin: 15px;
	width: 330px;
	float: left;
}
.mart {
	background-color: #517D29;
	margin: 15px;
	width: 1110px;
	float: block;
}
.mart2 {
	background-color: #9BC1BC;
	margin: 15px;
	width: 1110px;
	float: block;
}
.mart3 {
	background-color: #9BC1BC;
	margin: 15px;
	width: 1110px;
	float: block;
}
.mart4 {
	background-color: #9BC1BC;
	margin: 15px;
	width: 525px;
	text-align: initial;
}
.mart5 {
	background-color: #4F3156;
	margin: 15px;
	width: 525px;
}
.mart6 {
	background-color: #9BC1BC;
}
.mart7 {
	color: #EBE7EC;
	text-align: justify;
}
.mart8 {
	background-color: #4F3156;
}
.mart9 {
	color: #9BC1BC;
}
.mart10 {
	background-color: #517D29;
}
.mart11 {
	font-size: 40px;
	text-align: justify;
}
.mart12 {
	font-size: 20px;
}
.mart13 {
	font-size: 20px;
	text-align: justify;
}
.mart14 {
	color: #EBE7EC;
}
.mart15 {
	background-color: #6F341A;
	margin: 15px;
	width: 525px;
}
.mart16 {
	background-color: #6F341A;
	font-size: 20px;
}
.mart17 {
	color: #000000;
}
footer {
	background-color: #CCBFAA;
	padding: 15px;
	margin: 15px;
}
